################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MicroFrontend/.vs/MicroFrontend
/MicroFrontend/Clients/Angular18Client/.vscode
/MicroFrontend/Clients/Angular18Client/obj/Debug
/MicroFrontend/Hosts/AngularHost/.vscode
/MicroFrontend/Hosts/AngularHost/obj/Debug
/MicroFrontend/Hosts/AngularHost/.vscode/launch.json
/MicroFrontend/.vs/ProjectEvaluation
/MicroFrontend/Services/WebService.Services/obj
/MicroFrontend/Services/WebService.Services/WebService.Services.csproj.user
/MicroFrontend/Clients/Angular18Client/package-lock.json
/MicroFrontend/Hosts/AngularHost/package-lock.json
/MicroFrontend/Hosts/MFELibrary/.vscode
/MicroFrontend/Hosts/MFELibrary/obj/Debug
/MicroFrontend/Hosts/MFELibrary/package-lock.json
/MicroFrontend/Hosts/MFELibrary/package-lock.json
/.gitignore
/MicroFrontend/ModuleFederation/Hosts/AngularHost/.vscode
/MicroFrontend/ModuleFederation/Hosts/AngularHost/obj/Debug
/MicroFrontend/ModuleFederation/Libraries/MFELibrary/.vscode
/MicroFrontend/ModuleFederation/Libraries/MFELibrary/obj/Debug
/MicroFrontend/ModuleFederation/Libraries/MFELibrary/obj/Debug/package.g.props
/MicroFrontend/ModuleFederation/Clients/Angular18Client/.vscode
/MicroFrontend/ModuleFederation/Clients/Angular18Client/obj/Debug
/src/.vs
/src/ModuleFederation/Clients/Angular18Client/.vscode
/src/ModuleFederation/Clients/Angular18Client/obj/Debug
/src/ModuleFederation/Hosts/AngularHost/.vscode
/src/ModuleFederation/Hosts/AngularHost/obj/Debug
/src/ModuleFederation/Libraries/MFELibrary/.vscode
/src/ModuleFederation/Libraries/MFELibrary/obj/Debug
/src/Services/WebService.Services/obj
