################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
obj
csproj.user
package-lock.json
[bB]in
/src/Services/WebService.Services/WebService.Services.csproj.user
/src/ModuleFederation/Hosts/AngularHost/package-lock.json
/src/ModuleFederation/Clients/Angular18Client/package-lock.json
/src/ModuleFederation/Libraries/MFELibrary/package-lock.json
/src/ModuleFederation/Clients/Angular18Client/.npmrc
