################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
obj
WebService.Services.csproj.user
package-lock.json
