/* You can add global styles to this file, and also import other style files */

.flyout-window {
    position: fixed;
    top: 10%;
    right: 0%;
    width: 300px;
    z-index: 1050;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
