<div class="error-container" *ngIf="errorMessages && errorMessages.length > 0">
    <div class="error-header" (click)="toggleExpand()">
        <span class="pin-icon" (click)="togglePin($event)">📌</span>
        <span class="close-icon" (click)="closeError($event)">&#x2715;</span>
    </div>
    <div *ngIf="isExpanded" class="error-body">
        <div *ngFor="let error of errorMessages" class="error-message">
            {{ error }} <span class="close-icon" (click)="removeError(error)">&#x2715;</span>
        </div>
    </div>
</div>
