<div>
    <h1>Micro Frontend Reference Architecture Implementation</h1>

    <h3>Overview</h3>
    <p>This project is a reference implementation of a micro frontend architecture using Angular and Module Federation. It consists of a host application called <strong>AngularHost</strong> that loads multiple child applications developed using Angular.</p>
    <p>The host app loads the <strong>teams</strong>, <strong>staff</strong>, and <strong>role</strong> modules from the Angular18Client child applications. These are present in top level menu.</p>

    <h3>Source Code</h3>
    <p>You can find the reference code <a href="https://github.com/pravinchandankhede/microfrontend">here</a></p>

    <h3>Micro Frontend Architecture</h3>
    <p>The AngularHost project uses a micro frontend architecture to load and integrate multiple child applications. This approach allows for independent development and deployment of different parts of the application, improving scalability and maintainability.</p>
    <p>In this project, the AngularHost application loads the following child applications:</p>
    <ul>
        <li><strong>Teams Module:</strong> Loaded from the Angular18Client child application.</li>
        <li><strong>Staff Module:</strong> Loaded from the Angular18Client child application.</li>
        <li><strong>Role Module:</strong> Loaded from the Angular18Client child application.</li>
    </ul>

    <p>Each child application is developed and deployed independently, and the AngularHost application dynamically loads them as needed.</p>
    <p>It uses module-federation package as a base for this implementation</p>

    <h3>Architecture Explanation</h3>
    <p>For detailed explaination of this application, please refer my blog <a href="https://pravinchandankhede.github.io/posts/MicroFrontend/">here</a> for more details</p>

</div>
